<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="ConnectionToDBUser" connectionString="Data Source=.\MANAGERBOT;Initial Catalog=managerdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />!-->
    <add name="DBConnection" connectionString="Data Source=.\MANAGERBOT;Initial Catalog=managerdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="managerbotDBContext" connectionString="metadata=res://*/DBManagebotModel.csdl|res://*/DBManagebotModel.ssdl|res://*/DBManagebotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="managerdbConnected" connectionString="metadata=res://*/Model.DataBaseEF.DBManagerbot.DBManangerbotModel.csdl|res://*/Model.DataBaseEF.DBManagerbot.DBManangerbotModel.ssdl|res://*/Model.DataBaseEF.DBManagerbot.DBManangerbotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="managerdbContext" connectionString="metadata=res://*/Model.DataBaseEF.DBManagerbot.DBManagerbotModel.csdl|res://*/Model.DataBaseEF.DBManagerbot.DBManagerbotModel.ssdl|res://*/Model.DataBaseEF.DBManagerbot.DBManagerbotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>