<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="managerdbContext" connectionString="metadata=res://*/DataBase.SheldueModel.csdl|res://*/DataBase.SheldueModel.ssdl|res://*/DataBase.SheldueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=C:\Users\vadim\Desktop\GitHub\Student_Bot_Assistant\WindowAppMain\bin\Debug\managerdb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>