<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="Telegram_Bot.DAL.Properties.Settings.DBConnection" connectionString="Data Source=.\MANAGERBOT;Initial Catalog=managerdb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="managerdbContext" connectionString="metadata=.\managerdbModel.csdl|.\managerdbModel.ssdl|.\managerdbModel.msl;provider=System.Data.EntityClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="managerdbContext" connectionString="Data Source=.\MANAGERBOT;Initial Catalog=managerdb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="managerdbContext" connectionString="metadata=res://*/managerdbModel.csdl|res://*/managerdbModel.ssdl|res://*/managerdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="managerdbContext" connectionString="metadata=res://*/managerdbModel.csdl|res://*/managerdbModel.ssdl|res://*/managerdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    
    
  <add name="managerdbContext" connectionString="metadata=res://*/managerdbModel.csdl|res://*/managerdbModel.ssdl|res://*/managerdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MANAGERBOT;initial catalog=managerdb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>