body {
  background-color: #222; 
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 32px; }

  a:hover{
    text-decoration: none;
  }
  
p, span, div, button, input {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

ul {
  list-style: none; }

button {
  transition: all .2s; }

.slider {
  margin: 0 auto;
  position: relative;
  margin: 30px auto 0; }
  .slider .slick-active button {
    color: #fff;
    transition: all .2s; }
  .slider .slick-active button:after {
    background-color: #fff; }

.slide {
  background-color: transparent;
  text-align: center;
  opacity: .4;
  display: flex !important;
  justify-content: center;
  transition: all .2s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  max-height: 75vh;
  max-width: 45vh;
  min-width: 320px;
  min-height: 533px;
  overflow: hidden; }
  .slide img {
    display: block;
    height: 100%;
    position: relative;
    text-align: center;
    object-fit: cover; }
  .slide:focus {
    outline: none; }
  .slide.slick-current {
    opacity: 1;
    transition: all .2s;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .slide .slide-inner {
    width: 100%;
    height: auto; }
  .slide .slide-inner.slide-video:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .6; }
  .slide .slide-content {
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2; }
    .slide .slide-content .btns-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    .slide .slide-content .slide-list__slide .btns-container img {
      display: none; }
  .slide .slide .slide-inner video {
    height: 100%; }
  .slide .slide-content .fas {
    font-size: 52px;
    margin-bottom: 60px; }
  .slide .video-wrap {
    position: absolute; }
  .slide .video-wrap video {
    width: 100%; }
  .slide .video-wrap .video-overlay, .slide .video-wrap .video-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }

/* arrows */
.slick-prev {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 477.175 477.175' style='enable-background:new 0 0 477.175 477.175;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225 c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 18px center;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #c9c9c9;
  top: 50%;
  left: 20px;
  opacity: .4;
  z-index: 3;
  transition: all 0.2s; }

.slick-next {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'%3E%3Cg%3E%3Cpath d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 22px center;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #c9c9c9;
  top: 50%;
  right: 20px;
  opacity: .4;
  z-index: 3;
  transition: all 0.2s; }

.slick-replay {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 489.711 489.711' style='enable-background:new 0 0 489.711 489.711;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M112.156,97.111c72.3-65.4,180.5-66.4,253.8-6.7l-58.1,2.2c-7.5,0.3-13.3,6.5-13,14c0.3,7.3,6.3,13,13.5,13 c0.2,0,0.3,0,0.5,0l89.2-3.3c7.3-0.3,13-6.2,13-13.5v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.3-88.2c-0.3-7.5-6.6-13.3-14-13 c-7.5,0.3-13.3,6.5-13,14l2.1,55.3c-36.3-29.7-81-46.9-128.8-49.3c-59.2-3-116.1,17.3-160,57.1c-60.4,54.7-86,137.9-66.8,217.1 c1.5,6.2,7,10.3,13.1,10.3c1.1,0,2.1-0.1,3.2-0.4c7.2-1.8,11.7-9.1,9.9-16.3C36.656,218.211,59.056,145.111,112.156,97.111z'/%3E%3Cpath d='M462.456,195.511c-1.8-7.2-9.1-11.7-16.3-9.9c-7.2,1.8-11.7,9.1-9.9,16.3c16.9,69.6-5.6,142.7-58.7,190.7 c-37.3,33.7-84.1,50.3-130.7,50.3c-44.5,0-88.9-15.1-124.7-44.9l58.8-5.3c7.4-0.7,12.9-7.2,12.2-14.7s-7.2-12.9-14.7-12.2l-88.9,8 c-7.4,0.7-12.9,7.2-12.2,14.7l8,88.9c0.6,7,6.5,12.3,13.4,12.3c0.4,0,0.8,0,1.2-0.1c7.4-0.7,12.9-7.2,12.2-14.7l-4.8-54.1 c36.3,29.4,80.8,46.5,128.3,48.9c3.8,0.2,7.6,0.3,11.3,0.3c55.1,0,107.5-20.2,148.7-57.4 C456.056,357.911,481.656,274.811,462.456,195.511z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  top: 50%;
  right: 20px;
  opacity: 0;
  z-index: 3;
  transition: all .2s;
  display: none !important; }

  .img-center{
text-align: center;
  }

.slick-replay.slick-disabled {
  display: block !important;
  opacity: .5;
  transition: all .2s; }

.slick-prev:hover, .slick-next:hover, .slick-replay.slick-disabled:hover {
  opacity: 1;
  transition: all 0.2s; }

.slick-prev.slick-disabled, .slick-next.slick-disabled {
  opacity: 0; }

.slick-prev.slick-disabled:hover, .slick-next.slick-disabled:hover {
  opacity: 0; }

.slick-next.slick-disabled {
  display: none !important; }

/*progressBar*/
.progressBarContainer {
  display: flex;
  margin: 15px auto 0;
  bottom: 20px;
  max-width: 740px;
  left: 150px;
  justify-content: center; }

.progressBarContainer div {
  display: block;
  width: 30%;
  padding: 0;
  cursor: pointer;
  margin-right: 4px;
  float: left;
  color: white; }

.progressBarContainer > div {
  padding: 15px 0; }

.progressBarContainer div:last-child {
  margin-right: 0; }

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  border-radius: 100px;
  transition: all .2s; }

.progressBarContainer > div:hover span.progressBar {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all .2s; }

.progressBarContainer div span.progressBar .inProgress {
  border-radius: 10px;
  background-color: white;
  width: 0%;
  height: 4px; }

@media only screen and (width: 1024) and (height: 1366px) and (orientation: portrait) {
  .slide .slide-inner {
    min-height: 60vh !important; } }
@media (min-height: 647px) {
  .slide .slide-inner video {
    object-fit: cover; } }
@media (max-width: 1024px) {
  .slider {
    margin-top: 30px; }

  .slide .slide-inner {
    padding: 0;
    min-height: 75vh; } }
@media (width: 768px) {
  .video-wrap {
    left: -7%; }

  .video-wrap video {
    width: 107% !important; } }
@media (max-width: 647px) {
  .slick-slide {
    max-height: 100% !important;
    max-width: 100% !important; }

  body, .slick-track, .slide .slide-inner .slide-content {
    background-color: #fff; }

  .slide .slide-inner .slide-content:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    pointer-events: none;
    background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.25) 130%);
    height: 25vh; }

  .slide-content video {
    height: 100%;
    object-fit: cover; }

  .slider {
    margin: 0 auto;
    position: relative;
    margin: 0 auto 0; }
    .slider .slick-prev {
      background-position: 3% 53%;
      width: 14%;
      height: 70%;
      top: 13%;
      position: fixed; }
    .slider .slick-next {
      width: 14%;
      background-size: 22px;
      background-position: 97% 53%;
      height: 70%;
      top: 13%;
      position: fixed; }

  .slide {
    opacity: 1;
    height: 100vh;
    -webkit-transform: none;
    transform: none;
    max-height: 100%;
    max-width: 100%; }
    .slide.slick-current {
      -webkit-transform: none;
      transform: none; }
    .slide .slide-inner {
      border-radius: 0;
      background-size: cover;
      background-repeat: no-repeat;
      min-width: 100vw;
      border: none;
      max-height: initial;
      margin: 0; }
      .slide .slide-inner .slide-content {
        width: 100vw; }
    .slide .slide-inner:before {
      border-radius: 0; }
    .slide .video-wrap {
      left: -5%; }
    .slide .video-wrap video {
      width: 105%; }

  .progressBarContainer {
    margin-top: 0;
    position: absolute;
    padding: 0 15px;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; }

  .progressBarContainer > div:hover span.progressBar {
    background-color: rgba(255, 255, 255, 0.4);
    transition: all .2s; }

  .slick-replay.slick-disabled {
    position: absolute;
    top: initial;
    bottom: 15px;
    right: 10px;
    height: 30px;
    width: 30px;
    opacity: .3;
    padding: 20px; }

  .slick-prev {
    background-color: transparent;
    filter: invert(1);
    left: 0; }

  .slick-next {
    background-color: transparent;
    filter: invert(1);
    right: 0; } }
@media (max-width: 360px) {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    margin-bottom: 40px; } }
.btns-container a {
  pointer-events: none; }

.slick-current .btns-container a {
  pointer-events: auto; }

.slide .slide-inner video {
  height: 100%; }

/* form */
.slide-content .c-modal-content > div:first-child {
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='64' version='1.1' height='64' viewBox='0 0 64 64' enable-background='new 0 0 64 64'%3E%3Cg%3E%3Cpath fill='%23555555' d='M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59 c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59 c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0 L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z'/%3E%3C/g%3E%3C/svg%3E");
  width: 45px !important;
  height: 45px !important;
  padding: 10px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999; }

.c-modal-content {
  height: 100%;
  border: none;
  overflow: hidden; }

.form-slide {
  height: 100%;
  padding: 20px; }

.c-modal-content h3 {
  color: #111;
  text-align: center;
  margin: 30px 10px 10px 10px; }

.c-modal-content p {
  color: #111;
  padding: 20px;
  margin: 0;
  text-align: center; }

.form-slide > div {
  display: flex;
  flex-direction: column;
  height: 100%; }

.form-slide > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form-slide > div input {
  border: 1px solid #aaa;
  padding: 10px;
  color: #333;
  margin: 20px;
  font-size: 18px;
  min-height: 60px;
  border-radius: 8px;
  transition: .2s; }

.form-slide > div input:focus {
  outline: none;
  border-color: #2F80ED;
  transition: .2s; }

.form-slide > div input[type="submit"] {
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  border: none;
  margin-top: 0;
  color: #fff; }

.c-modal-content.success .form-slide, .c-modal-content.success > h3 {
  display: none; }

.c-modal-content .t-y {
  background-color: #fff;
  position: absolute;
  display: none; }

.c-modal-content.success .t-y {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.c-modal-content.success .t-y a {
  color: #fff;
  padding: 10px;
  font-size: 16px;
  position: initial;
  width: initial !important; }

/* slide next/prev buttons */
.inner-next, .inner-prev {
  display: none; }

@media (max-width: 647px) {
  .popup-active .slick-arrow, .popup-active .progressBarContainer {
    display: none; }

  .slick-current .inner-prev {
    height: 100%;
    max-height: 100vh;
    top: 0;
    left: 0;
    width: 50%;
    position: absolute;
    display: block;
    background-color: transparent; }

  .slick-current .inner-next {
    background: linear-gradient(to right, transparent, transparent);
    background-color: transparent;
    height: 100%;
    max-height: 100vh;
    top: 0;
    right: 0;
    width: 50%;
    display: block;
    position: absolute; }

  .slick-prev, .slick-next {
    display: none !important; } }
.c-modal-content .form-slide > div > div .privacy {
  background: none !important;
  color: #2F80ED !important;
  text-transform: none;
  margin: 0;
  pointer-events: auto;
  padding: 0; }

.c-modal-content .privacy:hover {
  color: #56CCF2 !important; }

@media (min-width: 1024px) and (max-width: 1300px) {
  .form-slide > div input {
    margin: 10px; } }
@media (max-width: 380px) {
  .form-slide > div input {
    margin: 10px; } }
.slide .canva + video, .slide .canva + img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

@media (max-width: 320px) {
  .slide .canva {
    display: none; }

  .slide .canva + video, .slide .canva + img {
    position: initial;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%; }

  .slide .slide-inner .slide-content:before {
    left: 0; }

  .slide .slide-content {
    display: block; }

  .slide {
    min-height: initial !important; }

  .slide .slide-content .btns-container {
    top: 0;
    height: 460px;
    display: block; }

  .slide .slide-content .btns-container a {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; } }

/*# sourceMappingURL=style.css.map */
